# Platform-specific dependencies (PEP 508 markers)
pywin32; sys_platform == "win32"
python-xlib; sys_platform == "linux"

# Optional / dev
# pytest
aiortc
fastapi
uvicorn
mysql-connector-python 
pydantic
ulid-py 
Pillow
keyboard
ulid
redis
python-dotenv
pytest